:root {
    --sapphire-blue: #00A8E2;
}

body {
    background-color: #F7F9FA;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('fonts/proximanova-light-webfont.woff2') format('woff2'), url('fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    margin: 0;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'), url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('fonts/proximanova-semibold-webfont.woff2') format('woff2'), url('fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-toggle {
    z-index: 3;
}

.col-xs-12 {
    height: 62px;
    background: #FFFFFF;
    border: 1px solid #EFEDEE;
}

#logo-link {
    text-align: center;
    line-height: 28px;
    margin: 16px auto;
    font-family: ProximaNova-Regular;
    font-size: 28px;
    color: #00A8E2;
    letter-spacing: 1.17px;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

#logo-link:hover {
    text-decoration: none;
    cursor: pointer;
    color: #0095C9;
}

.quant-btn {
    margin: 14px 14px 14px 0px;
    padding: 8px 16.5px;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #00A8E2;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #FFFFFF;
    border: 1px solid #00A8E2;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border-radius: 2px;
    line-height: 16px;
}

.quant-btn:hover {
    color: #0095C9;
    border: 1px solid #0095C9;
    box-shadow: 0 2px 4px 0 rgba(0, 168, 226, 0.20);
}

#navbar {
    display: flex;
    justify-content: flex-end;
}

#sidenavmaster {
    padding: 0;
}

#sidenav {
    width: 80%;
    background: #FFFFFF;
    border: 1px solid #EFEDEE;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #EAEAEA;
}

.option>p {
    font-family: ProximaNova-Light;
    font-size: 16px;
    color: #AAAAAA;
    margin-top: 4px;
    margin-bottom: 8px;
}

.option>img {
    height: 72px;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.option:hover{
    cursor: pointer;
}

.option:hover>p{
    font-family: ProximaNova-Regular;
    color: #505050;
}

.option:hover>img{
    transform: scale(1.1);
}
.active {
    border-left: 5px solid var(--sapphire-blue);
}

.active>p {
    color: #505050;
    font-family: ProximaNova-Regular;
    font-size: 16px;
}

#searchbox {}

#trending {}
