#details>h1,
#reviews>h1 {
    font-family: ProximaNova-SemiBold;
    font-size: 20px;
    font-weight: normal;
    color: #505050;
    line-height: 20px;
    letter-spacing: 0;
}

.card-detailed {
    background: #FFFFFF;
    border: 1px solid #EFEDEE;
    padding: 16px 20px;
}

.card-detailed>h1 {
    font-family: ProximaNova-Regular;
    font-size: 32px;
    color: #505050;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 8px;
}

.card-detailed>button {
    font-family: ProximaNova-Regular;
    font-size: 13px;
    color: #666666;
    padding: 4px 8px;
    border: none;
    background: #E7E7E7;
    margin-bottom: 8px;
}

.card-detailed>button:focus {
    outline: none;
}

.card-detailed>p {
    font-family: ProximaNova-Regular;
    font-size: 18px;
    color: #AAAAAA;
    letter-spacing: 0;
    margin-bottom: 8px;
}

#ind-rate {
    margin-bottom: 8px;
}

#ind-rate>span {
    font-family: ProximaNova-Regular;
    font-size: 18px;
    color: #00A8E2;
    letter-spacing: 0;
    vertical-align: middle;
    margin-left: 8px;
}

#ind-users>span {
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    vertical-align: middle;
    margin-left: 8px;
}

.reviewcard {
    background: #FFFFFF;
    border: 1px solid #EFEDEE;
    padding: 16px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.question>h2 {
    font-weight: normal;
    margin: 0;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #505050;
    margin-bottom: 8px;
}

.question>div{
    height: 20px;
    width: 90%;
background: #00A8E2;
border-radius: 6px;
     margin-bottom: 8px;
}

.question>p {
    text-align: center;
    margin: 0;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #00A8E2;
     margin-bottom: 8px;
}
