:root {
    --sapphire-blue: #00A8E2;
}

body {
    background-color: #F7F9FA;
}

@font-face {
    font-family: 'proxima_nova_light';
    src: url('fonts/proximanova-light-webfont.woff2') format('woff2'), url('fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_regular';
    src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'), url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('fonts/proximanova-semibold-webfont.woff2') format('woff2'), url('fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header {
    background-color: #fff;
    height: 60px;
    border: 1px solid #EFEDEE;
}

#logo {
    font-family: 'proxima_nova_light';
    font-size: 28px;
    color: var(--sapphire-blue);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    vertical-align: middle;
    line-height: 60px;
    font-weight: normal;
    margin-left: 10px;
    cursor: pointer;
}

#login {
    margin: 0;
    border: 1px solid var(--sapphire-blue);
    background-color: white;
    padding: 0.5em 1em;
    font-size: 16px;
    font-family: 'proxima_nova_light';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--sapphire-blue);
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-property: all;
}

#login:hover {
    color: white;
    background-color: var(--sapphire-blue);
}

button:focus {
    outline: none;
}
