<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div class="container">
        <div class="row xs-12" id="header">
            <span id="logo">Quant</span>
            <button id="login">Log In</button>
        </div>
    </div>
    <div class="container">
        <div id="nav" class="row xs-2"></div>
    </div>
</body>

</html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/style.css">
<style></style>
<script src="../static/app.js"></script>
