<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Quant: On the go financial advise.</title>
</head>

<body>
    <!--HEADER-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="navbar"><a id="logo-link" href="dashboard.html">Quant</a>
            </div>
        </div>
        <!--SIDENAV-->
        <div class="row">

            <div class="col-sm-2" id="sidenavmaster">
                <div id="sidenav">
                    <div class="option"><img src="icons/dashboard-inactive.png">
                        <p>Dashboard</p>
                    </div>
                    <div class="option active"><img src="icons/trends-selected.png">
                        <p>Trends</p>
                    </div>
                    <div class="option"><img src="icons/support-inactive.png">
                        <p>Support</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="trends">
                <div class="trend-card">
                    <h1><img src="icons/favorites.png">Highest rated schemes</h1>
                    <div class="trend-list">
                        <a href="#">₹14 Lac at  ₹3000/month</a>
                        <br>
                        <button>Home Loan</button>
                        <div id="ratings">
                            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
                        </div>
                    </div>
                    <div class="trend-list">
                        <a href="#">₹14 Lac at  ₹3000/month</a>
                        <br>
                        <button>Home Loan</button>
                        <div id="ratings">
                            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
                        </div>
                    </div>
                    <div class="trend-list">
                        <a href="#">₹14 Lac at  ₹3000/month</a>
                        <br>
                        <button>Home Loan</button>
                        <div id="ratings">
                            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
                        </div>
                    </div>
                    <div class="trend-list">
                        <a href="#">₹14 Lac at  ₹3000/month</a>
                        <br>
                        <button>Home Loan</button>
                        <div id="ratings">
                            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
                        </div>
                    </div>
                    <div class="trend-list">
                        <a href="#">₹14 Lac at  ₹3000/month</a>
                        <br>
                        <button>Home Loan</button>
                        <div id="ratings">
                            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6" id="query">
                <h1><img src="icons/search.png">Most searched queries</h1>
                <div class="trends-card" id="top-search">
                    <button class="squery">Home Loan at 8.5%</button>
                    <span>6788 requests in last 5 days</span>
                </div>
                <div class="trends-card" id="top-search">
                    <button class="squery">Education Loan worth ₹ 12lac</button>
                    <span>5773 requests in last 5 days</span>
                </div>
                <div class="trends-card" id="top-search">
                    <button class="squery">Home Loan at 8.5%</button>
                    <span>6788 requests in last 5 days</span>
                </div>
                <div class="trends-card" id="top-search">
                    <button class="squery">Home Loan at 8.5%</button>
                    <span>6788 requests in last 5 days</span>
                </div>
            </div>


            <div class="col-sm-6" id="debate">
                <h1><img src="icons/loss.png">Least Rated Schemes</h1>
                <div class="trend-list">
                    <a href="#">₹9 Lac at  ₹30000/month</a>
                    <br>
                    <button>Home Loan</button>
                    <div id="ratings">
                        <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>2.0/5.0</span></div>
                    </div>

                </div><div class="trend-list">
                    <a href="#">₹9 Lac at  ₹30000/month</a>
                    <br>
                    <button>Home Loan</button>
                    <div id="ratings">
                        <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>2.0/5.0</span></div>
                    </div>

                </div><div class="trend-list">
                    <a href="#">₹9 Lac at  ₹30000/month</a>
                    <br>
                    <button>Home Loan</button>
                    <div id="ratings">
                        <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>2.0/5.0</span></div>
                    </div>

                </div>
            </div>

        </div>
        <!--loans results-->
    </div>
</body>

</html>
<link rel="stylesheet" href="bootstrap.min.css">

<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="bank.css">
