{% extends "bank_base.html" %}


{% block main_content %}

<div class="col-sm-10" id="dash">
    <div id="card">
        <h1>Live Hits:</h1>
        <div id="livdiv">
            <canvas id="live"></canvas>
        </div>
        <div id="liv">
            <div id="online"><h1>Number of users online</h1>
            <p>6348</p></div>
                                    <div id="hits"><h1>Total number of hits</h1>
            <p>23,556</p></div>
        </div>
    </div>
</div>

{% endblock %}

{% block static_files %}
<link rel="stylesheet" href={{ url_for("static", filename="bootstrap.min.css") }}>

<link rel="stylesheet" href={{ url_for("static", filename="index.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="bank.css") }}>
<script src={{ url_for("static", filename="Chart.min.js") }}></script>
<script src={{ url_for("static", filename="bank.js") }}></script>

{% endblock %}
