{% extends "bank_base.html" %}

{% block main_content %}

<div class="col-sm-10" id="issues">
    <h1>{{ issues | length }} open issues</h1>
    <br>
    {% for issue in issues %}
    <div class="issue">
        <a>{{ issue.review.title }}</a>
        <span>{{ issue.review.product.name }}</span>
        <p>{{ issue.review.comment }}</p>
        <button>Marked as resolved</button>
    </div>
    <hr> 
    {% endfor %}
</div>

{% endblock %}

{% block static_files %}
<link rel="stylesheet" href={{ url_for("static", filename="bootstrap.min.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="index.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="support.css") }}>
{% endblock %}