{% extends "bank_base.html" %}

{% block main_content %}

<div class="col-sm-10" id="issues">
    <h1>32 open reviews</h1>
    <div class="issue">
        <a>Insurance money not creditted</a>
        <span>lifetime insurance</span>
        <p>My insurance money has not been credited to my account. I have been trying since 4 months. I paid EMIs for 20 years, and now you're not giving money. What is this?</p>
        <button>Mark as solved</button>
    </div>
    <hr>
    <div class="issue">
        <a>Insurance money not creditted</a>
        <span>lifetime insurance</span>
        <p>My insurance money has not been credited to my account. I have been trying since 4 months. I paid EMIs for 20 years, and now you're not giving money. What is this?</p>
        <button>Mark as solved</button>
    </div><hr>
    <div class="issue">
        <a>Insurance money not creditted</a>
        <span>lifetime insurance</span>
        <p>My insurance money has not been credited to my account. I have been trying since 4 months. I paid EMIs for 20 years, and now you're not giving money. What is this?</p>
        <button>Mark as solved</button>
    </div><hr>
    <div class="issue">
        <a>Insurance money not creditted</a>
        <span>lifetime insurance</span>
        <p>My insurance money has not been credited to my account. I have been trying since 4 months. I paid EMIs for 20 years, and now you're not giving money. What is this?</p>
        <button>Mark as solved</button>
    </div><hr>
</div>

{% endblock %}

{% block static_files %}
<link rel="stylesheet" href={{ url_for("static", filename="bootstrap.min.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="index.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="support.css") }}>
{% endblock %}