{% extends "bank_base.html" %}

{% block main_content %}
<div class="col-sm-4" id="trends">
    <div class="trend-card">
        <h1><img src={{ url_for("static", filename="icons/favorites.png") }}>Highest rated schemes</h1>
        <div class="trend-list">
            <a href="#">₹14 Lac at  ₹3000/month</a>
            <br>
            <button>Home Loan</button>
            <div id="ratings">
                <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
            </div>
        </div>
        {% for rev in top_rated %}
        <div class="trend-list">
            <a href="/product/{{ rev.product.id }}" id="name">{{ rev.product.name }}</a>
            <br>
            <button>{{ rev.product.product_category }}</button>
            <div id="ratings">
                <div id="stars">
                {% for i in range(rev.stars) %}
                    <i class="material-icons given">star_border</i>
                {% endfor %}
                {% for i in range(5 - rev.stars) %}
                    <i class="material-icons ngiven">star_border</i>
                {% endfor %}
                <span>{{ rev.rating }}/5</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<div class="col-sm-6" id="query">
    <h1><img src={{ url_for("static", filename="icons/search.png") }}>Most searched queries</h1>
    <div class="trends-card" id="top-search">
        <button class="squery">Home Loan at 8.5%</button>
        <span>6788 requests in last 5 days</span>
    </div>
    <div class="trends-card" id="top-search">
        <button class="squery">Education Loan worth ₹ 12lac</button>
        <span>5773 requests in last 5 days</span>
    </div>
    <div class="trends-card" id="top-search">
        <button class="squery">Home Loan at 8.5%</button>
        <span>6788 requests in last 5 days</span>
    </div>
    <div class="trends-card" id="top-search">
        <button class="squery">Home Loan at 8.5%</button>
        <span>6788 requests in last 5 days</span>
    </div>
</div>


<div class="col-sm-6" id="debate">
    <h1><img src={{ url_for("static", filename="icons/loss.png") }}>Least Rated Schemes</h1>
    
    {% for rev in least_rated %}
    <div class="trend-list">
        <a href="/product/{{ rev.product.id }}" id="name">{{ rev.product.name }}</a>
        <br>
        <button>{{ rev.product.product_category }}</button>
        <div id="ratings">
            <div id="stars">
            {% for i in range(rev.stars) %}
                <i class="material-icons given">star_border</i>
            {% endfor %}
            {% for i in range(5 - rev.stars) %}
                <i class="material-icons ngiven">star_border</i>
            {% endfor %}
            <span>{{ rev.rating }}/5</span>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}

{% block static_files %}
<link rel="stylesheet" href={{ url_for("static", filename="bootstrap.min.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="index.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="bank.css") }}>
{% endblock %}