<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={{url_for('static', filename='index.css')}}>
</head>

<body>

<header>
    <nav class="navbar navbar-default" role="navigation" id="navbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <a class="navbar-brand" href="#">Quant</a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

          <ul class="nav navbar-nav navbar-left">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <form action="#" class="navbar-form navbar-right">
                    <input type="search" class="form-control" placeholder="Search">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </li>
            <li><a href="#" class="">Log out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer style="border-top: 1px solid #ddd;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">Here's the footer
                <iframe
                    width="350"
                    height="430"
                    src="https://console.api.ai/api-client/demo/embedded/f7b8a356-5f41-4845-8447-b22a684ffd46">
                </iframe>
      

            </div>
        </div>
    </div>
</footer>

</body>

</html>
