<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Quant: On the go financial advise.</title>
</head>

<body>
    <!--HEADER-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="navbar"><a id="logo-link" href="/customer">Quant</a><button id="signin" class="quant-btn">Sign In</button></div>
        </div>
        <!--SIDENAV-->
        <div class="row">
            <div class="col-sm-2" id="sidenavmaster">
                <div id="sidenav">
                    <a href="/customer/dashboard">
                        <div class="option"><img src={{ url_for("static", filename="icons/dashboard-inactive.png") }}>
                            <p>Dashboard</p>
                        </div>
                    </a>
                    <a href="/customer/loans">
                        <div class="option"><img src={{ url_for("static", filename="icons/loan-inactive.png") }}>
                            <p>Loans</p>
                        </div>
                    </a>
                    <a href="/customer/deposits">
                        <div class="option"><img src={{ url_for("static", filename="icons/deposit-inactive.png") }}>
                            <p>Deposits</p>
                        </div>
                    </a>
                    <a href="/customer/insurance">
                        <div class="option"><img src={{ url_for("static", filename="icons/insurance-inactive.png") }}>
                            <p>Insurance</p>
                        </div>
                    </a>
                    <a href="/customer/support">
                    <!-- poker iske onclick me bootstrap modal me support iframe daal de -->
                        <div class="option"><img src={{ url_for("static", filename="icons/support-inactive.png") }}>
                            <p>Support</p>
                        </div>
                    </a>
                    <div class="option">
                        <p>Log out</p>
                    </div>
                </div>
            </div>


            <script>
                window.onload = () => {
                    var sidenav_items = document.getElementById("sidenav").children;
                    for (let i = 0; i < sidenav_items.length; i++) {
                        if (sidenav_items[i].href == window.location.href) {
                            // this should be set active and icon changed
                            sidenav_items[i].children[0].className += " active";
                            let img_elem = sidenav_items[i].getElementsByTagName("img")[0];
                            img_elem.src = img_elem.src.replace("inactive", "selected");
                        }
                    }
                }
            </script>
            <!--SEARCH-->
            {% block main_content %} {% endblock %}

            {% block right_column %} {% endblock %}
       <!--  <div class="row">
                <iframe
                        width="300"
                        height="400"
                        src="https://console.api.ai/api-client/demo/embedded/f7b8a356-5f41-4845-8447-b22a684ffd46"
                        align = "right">
                        </iframe>
        </div> -->
    </div>
</body>

</html>

{% block static_files %} {% endblock %}
