{% extends "customer_base.html" %}


{% block main_content %}
<!--SEARCH-->
<div class="col-sm-7" id="searchbox">
    <form id="schemesearch">
        <div id="row1" >
            <p>Find the best schemes</p>
            <input type="radio" value="loans" name="scheme" checked> <label>Loans</label>
            <input type="radio" value="deposits" name="scheme"> <label>Deposits</label>
            <input type="radio" value="insurance" name="scheme"> <label>Insurance</label>
            <input type="radio" value="retirement" name="scheme"><label> Post-Retirement</label>
        </div>
        <div id="row2">
            <label for="type-loan">Select the type of loan</label>
            <select name="type-loan" id="bx1">
            <option>Education Loan</option>
            <option>Car Loan</option>
            <option>Home Loan</option>
            <option>Gold Loan</option>
        </select>
            <br>
            <label for="salary">Your Monthly Salary</label>
            <input type="text" placeholder="Monthly salary in INR" name="salary" id="bx2">
            <br>
            <label for="emi">Maximum EMI Amount<span>  (Optional)</span></label>
            <input type="text" placeholder="EMI per month in INR" name="emi" id="bx3">
            <br>
            <label for="tenure">Tenure<span> (Optional)</span></label>
            <input type="number" placeholder="Duration of loan" name="tenure" id="bx4" min=0>
            <br>
        </div>
        <div id="row3">
            <button type="submit">Search schemes</button> <a href="#">Which type of loan should I select?</a>
        </div>
    </form>
</div>

{% endblock %}

{% block right_column %}
<div class="col-sm-3" id="trendingmaster">
    <div id="trending">
        <p>Trending Schemes</p>
        <div class="schemecard">
            <a id="name">₹ 20 Lac at ₹4500/month</a>
            <p id="sub">
                <span>Home Loan</span>
                <span>5.5%</span>
                <span>10 years</span>
            </p>
            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>456 customers</span></div>
        </div>
        <div class="schemecard">
            <a id="name">₹ 20 Lac at ₹4500/month</a>
            <p id="sub">
                <span>Home Loan</span>
                <span>5.5%</span>
                <span>10 years</span>
            </p>
            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>456 customers</span></div>
        </div>
        <div class="schemecard">
            <a id="name">₹ 20 Lac at ₹4500/month</a>
            <p id="sub">
                <span>Home Loan</span>
                <span>5.5%</span>
                <span>10 years</span>
            </p>
            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>456 customers</span></div>
        </div>
        <div class="schemecard">
            <a id="name">₹ 20 Lac at ₹4500/month</a>
            <p id="sub">
                <span>Home Loan</span>
                <span>5.5%</span>
                <span>10 years</span>
            </p>
            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>456 customers</span></div>
        </div>
        
        <div class="schemecard">
            <a href="#" id="more">View more</a>
        </div>
        
    </div>
</div>

{% endblock %}


{% block static_files %}
<link rel="stylesheet" href={{ url_for('static', filename="bootstrap.min.css") }}>
<link rel="stylesheet" href={{ url_for('static', filename="index.css") }} >
<script src={{ url_for("static", filename="app.js") }}></script>
</script>
{% endblock %}
