{% extends 'customer_base.html' %}

{% block main_content %}
<!--SEARCH-->
<div class="col-sm-7" id="userstats">
    <h2>Your Month in a review<button>2 pending EMIs </button></h2>
    <div id="expensediv">
        <canvas id="expenses"></canvas>
    </div>
    <div>
        <div id="credit"><p>Amount Credited: ₹3487</p></div>
        <div id="debit">Amount Debited: ₹4567</div>
    </div>
    <button class="quant-btn">Download mini-statement</button>
</div>
{% endblock %}

{% block right_column %}

<div class="col-sm-3" id="trendingmaster">
    <div id="trending">
        <p>Recommended schemes</p>
        <div class="schemecard">
            <a id="name">₹ 20 Lac at ₹4500/month</a>
            <p id="sub">
                <span>Home Loan</span>
                <span>5.5%</span>
                <span>10 years</span>
            </p>
            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>456 customers</span></div>
        </div>
        <div class="schemecard">
            <a id="name">₹ 20 Lac at ₹4500/month</a>
            <p id="sub">
                <span>Home Loan</span>
                <span>5.5%</span>
                <span>10 years</span>
            </p>
            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>456 customers</span></div>
        </div>
        <div class="schemecard">
            <a id="name">₹ 20 Lac at ₹4500/month</a>
            <p id="sub">
                <span>Home Loan</span>
                <span>5.5%</span>
                <span>10 years</span>
            </p>
            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>456 customers</span></div>
        </div>
        <div class="schemecard">
            <a id="name">₹ 20 Lac at ₹4500/month</a>
            <p id="sub">
                <span>Home Loan</span>
                <span>5.5%</span>
                <span>10 years</span>
            </p>
            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><i class="material-icons ngiven">star_border</i><span>456 customers</span></div>
        </div>

        <div class="schemecard">
            <a href="#" id="more">View more</a>
        </div>

    </div>
</div>

{% endblock %}

{% block static_files %}
<link rel="stylesheet" href={{ url_for('static', filename="bootstrap.min.css") }}>
<link rel="stylesheet" href={{ url_for('static', filename="index.css") }} >
<script src={{ url_for("static", filename="Chart.min.js") }}></script>
<script src={{ url_for("static", filename="app.js") }}></script>
{% endblock %}