{% extends "customer_base.html" %}


{% block main_content %}
<!--loans results-->
<div class="col-sm-6" id="loans">
    <div id="product-list">
        {% for ins in insurance_list %}
        <div class="product-card">
            <label>{{ ins.Category }}</label>
            <h1>{{ ins.InsuranceType }}</h1>
            <h2>Maturity rate: {{ ins.MaturityRate }}</h2>
            <h2>Premium: ₹ {{ ins.MinPremiumAmount }} {%if ins.MaxPremiumAmount != "Infinite" %}to ₹ {{ ins.MaxPremiumAmount }}{% endif %} {{ ins.PremiumFreq }} </h2>
            <h2>Term: {{ ins.PayingTerm }} years </h2>
            <h2>Profit: ₹ {{ ins.profit(ins.PayingTerm) }}</h2>
            <div id="ratings">
                <div id="stars">
                    {% for i in range(ins.avgStars) %}
                        <i class="material-icons given">star_border</i>
                    {% endfor %}
                    {% for i in range(5 - ins.avgStars | int) %}
                        <i class="material-icons ngiven">star_border</i>
                    {% endfor %}
                </div>
            </div>
            <div id="customers">
                <i class="material-icons">people_outline</i>Recommended by {{ range(1, 30) | random }} users</div>
            <button id="view" onclick="document.location.href=('/product/{{ ins.productId }}')">View Details</button>
            </div>
            {% endfor %}

        <div class="product-card">
            <label>Whole Life</label>
            <h1>Complete life insurance</h1>
            <h2>Rate of Interest: 15%</h2>
            <h2>Minimum Deposit: ₹4500/month</h2>
            <div id="ratings">
                <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
            </div>
            <div id="customers">
                <i class="material-icons">people_outline</i>Recommended by 213 users</div>
            <button id="view">View Details</button>
        </div>
    </div>
</div>

{% endblock %}

{% block right_column %}

<!--SEARCH-->
<div class="col-sm-4" id="searchbox">

    <form id="schemesearch">
        <p>Search for insurance schemes</p>
        <div id="row2">
            <label for="type-loan">Select the type of deposits</label>
            <br>
            <select name="type-loan" id="box1">
            <option>Term Life</option>
            <option>Whole life</option>
            <option>Moneyback</option>
                <option>Endowment</option>
        </select>

            <br><br>
            <label for="salary">Your Monthly Salary</label><br>
            <input type="text" placeholder="Monthly salary in INR" name="salary" id="box2">
            <br><br>
            <label for="emi">Maximum EMI Amount<span>  (Optional)</span></label>
            <input type="text" placeholder="EMI per month in INR" name="emi" id="box3">
            <br><br>
            <label for="tenure">Tenure<span> (Optional)</span></label><br>
            <input type="number" placeholder="Duration of insurance" name="tenure" id="box4" min=0>
            <br>
        </div>
        <div id="row3">
            <button type="submit">Search schemes</button> <br><a href="#">Which type of insurance should I select?</a>
        </div>
    </form>
</div>

{% endblock %}

{% block static_files %}
<link rel="stylesheet" href={{ url_for("static", filename="bootstrap.min.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="index.css") }} >
<link rel="stylesheet" href={{ url_for("static", filename="loans.css") }} >
{% endblock %}
