<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Quant: On the go financial advise.</title>
</head>

<body>
    <!--HEADER-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="navbar"><a id="logo-link" href="dashboard.html">Quant</a><button id="signin" class="quant-btn">Sign In</button></div>
        </div>
        <!--SIDENAV-->
        <div class="row">

            <div class="col-sm-2" id="sidenavmaster">
                <div id="sidenav">
                    <div class="option"><img src="icons/dashboard-inactive.png">
                        <p>Dashboard</p>
                    </div>
                    <div class="option"><img src="icons/loan-inactive.png">
                        <p>Loans</p>
                    </div>
                    <div class="option"><img src="icons/deposit-inactive.png">
                        <p>Deposits</p>
                    </div>
                    <div class="option active"><img src="icons/insurance-selected.png">
                        <p>Insurance</p>
                    </div>
                    <div class="option"><img src="icons/support-inactive.png">
                        <p>Support</p>
                    </div>
                </div>
            </div>
            <!--loans results-->
            <div class="col-sm-6" id="loans">
                <h2>Showing 1-25 of the total 1239 insurance schemes</h2>
                <div id="product-list">
                    <div class="product-card">
                        <label>Whole Life</label>
                        <h1>Complete life insurance</h1>
                        <h2>Rate of Interest: 15%</h2>
                        <h2>Minimum Deposit: ₹4500/month</h2>
                        <div id="ratings">
                            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
                        </div>
                        <div id="customers">
                            <i class="material-icons">people_outline</i>Recommended by 213 users</div>
                        <button id="view">View Details</button>
                    </div>

                    <div class="product-card">
                        <label>Whole Life</label>
                        <h1>Complete life insurance</h1>
                        <h2>Rate of Interest: 15%</h2>
                        <h2>Minimum Deposit: ₹4500/month</h2>
                        <div id="ratings">
                            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
                        </div>
                        <div id="customers">
                            <i class="material-icons">people_outline</i>Recommended by 213 users</div>
                        <button id="view">View Details</button>
                    </div>
                    <div class="product-card">
                        <label>Whole Life</label>
                        <h1>Complete life insurance</h1>
                        <h2>Rate of Interest: 15%</h2>
                        <h2>Minimum Deposit: ₹4500/month</h2>
                        <div id="ratings">
                            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
                        </div>
                        <div id="customers">
                            <i class="material-icons">people_outline</i>Recommended by 213 users</div>
                        <button id="view">View Details</button>
                    </div>
                    <div class="product-card">
                        <label>Whole Life</label>
                        <h1>Complete life insurance</h1>
                        <h2>Rate of Interest: 15%</h2>
                        <h2>Minimum Deposit: ₹4500/month</h2>
                        <div id="ratings">
                            <div id="stars"><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons given">star_border</i><i class="material-icons ngiven">star_border</i><span>4.0/5.0</span></div>
                        </div>
                        <div id="customers">
                            <i class="material-icons">people_outline</i>Recommended by 213 users</div>
                        <button id="view">View Details</button>
                    </div>
                </div>
            </div>


            <!--SEARCH-->
            <div class="col-sm-4" id="searchbox">

                <form id="schemesearch">
                    <p>Search for insurance schemes</p>
                    <div id="row2">
                        <label for="type-loan">Select the type of deposits</label>
                        <br>
                        <select name="type-loan" id="box1">
                        <option>Term Life</option>
                        <option>Whole life</option>
                        <option>Moneyback</option>
                            <option>Endowment</option>
                    </select>

                        <br><br>
                        <label for="salary">Your Monthly Salary</label><br>
                        <input type="text" placeholder="Monthly salary in INR" name="salary" id="box2">
                        <br><br>
                        <label for="emi">Maximum EMI Amount<span>  (Optional)</span></label>
                        <input type="text" placeholder="EMI per month in INR" name="emi" id="box3">
                        <br><br>
                        <label for="tenure">Tenure<span> (Optional)</span></label><br>
                        <input type="number" placeholder="Duration of insurance" name="tenure" id="box4" min=0>
                        <br>
                    </div>
                    <div id="row3">
                        <button type="submit">Search schemes</button> <br><a href="#">Which type of insurance should I select?</a>
                    </div>
                </form>
            </div>


        </div>
    </div>
</body>

</html>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="loans.css">
