{% extends 'base.html' %}

{% block content %}

<div class="row">
    <h4>{{ product.name }}</h4>
</div>
<div class="row">
    <table class="table">
        <th>
            <td>Username</td>
            <td>Time</td>
            <td>Rating</td>
            <td>Comment</td>
        </th>
        {% for review in reviews %}
        <tr>
            <td>{{ review.id }}</td>
            <td>{{ review.user.name }}</td>
            <td>{{ review.created_at.strftime("%d %B %Y") }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.comment }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="row">
    <h4>Enter your review</h4>
    <form action="/submit_review" method="POST">
        <input name="userid" type="number" value="{{ me.id }}" hidden />
        <input name="productid" type="number" value="{{ product.id }}" hidden />
        <input name="rating" type="number" step="0.1" value="0" min="0" max="5" />
        <input name="comment" type="text" placeholder="This is what I feel about the product..." />
        <button class="btn btn-primary">Submit review</button>
    </form>
</div>

{% endblock %}
